<a href="https://colab.research.google.com/github/walkerjian/DailyCode/blob/main/Code_Craft_seleCt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Problem:
Given three 32-bit integers x, y, and b, return x if b is 1 and y if b is 0, using only mathematical or bit operations. You can assume b can only be 1 or 0.

##Solution:
To solve this problem, we can use bitwise operations in a clever way. Given that `b` can only be `1` or `0`, we can use it to select between `x` and `y` using bitwise operators. The idea is to use `b` to nullify one of the numbers and keep the other.

Here's how we can do it:

- When `b` is `1`, we want to keep `x` and nullify `y`. We can achieve this by:
  - Multiplying `x` by `b` (which keeps `x` unchanged since `1 * x = x`).
  - Multiplying `y` by `(1 - b)` (which nullifies `y` since `1 - 1 = 0` and `0 * y = 0`).
- When `b` is `0`, we want to keep `y` and nullify `x`. We can achieve this by:
  - Multiplying `x` by `b` (which nullifies `x` since `0 * x = 0`).
  - Multiplying `y` by `(1 - b)` (which keeps `y` unchanged since `1 - 0 = 1` and `1 * y = y`).

Finally, we add these two results. In either case, one of them will be zero, and the other will be the number we want to return. This approach ensures that only mathematical or bit operations are used.

##Implementation:

In [2]:
%%writefile select.c
#include <stdio.h>

int select(int x, int y, int b) {
    return x * b + y * (1 - b);
}

int main() {
    // Assigning values to x, y, and b
    int x = 10; // Example value for x
    int y = 20; // Example value for y
    int b = 1;  // Example value for b (can be 0 or 1)

    // Calling the select function
    int result = select(x, y, b);

    // Printing the arguments and result
    printf("x: %d, y: %d, b: %d, result: %d\n", x, y, b, result);

    return 0;
}

Writing select.c

In [3]:
!gcc select.c -o select

In [4]:
!./select

x: 10, y: 20, b: 1, result: 10

In [16]:
%%writefile select2.c
#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[]) {
    // Check if the correct number of arguments is passed
    if (argc != 4) {
        printf("Usage: %s x y b\n", argv[0]);
        return 1;
    }

    // Convert arguments from strings to integers
    int x = atoi(argv[1]);
    int y = atoi(argv[2]);
    int b = atoi(argv[3]);

    // Check if b is either 0 or 1
    if (b != 0 && b != 1) {
        printf("Invalid input for b. Please enter 0 or 1.\n");
        return 1;
    }

    // Inline implementation of the select function
    int result = x * b + y * (1 - b);

    // Printing the result
    printf("Result: %d\n", result);

    return 0;
}

Overwriting select2.c

In [17]:
!gcc select2.c -o select2

In [19]:
!./select2 10 20 1

Result: 10